# Ignoriere alles standardmäßig
*

# Behalte die .gitignore-Datei selbst
!.gitignore

# Behalte den Makefile
!Makefile

# Behalte den Ordner Server und seinen Inhalt
!Server/
!Server/**

# Behalte den Ordner Client und seinen Inhalt
!Client/
!Client/**

# Behalte den Ordner Module und seinen Inhalt
!Module/
!Module/**